*{
    margin: 0px;
}

body {
    background-color: azure;
}

#title {
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: green;
    text-align: center;
}

#color-palette {
    display: flex;
    justify-content: center;
    margin: auto;
}

.color {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 25px 5px;
    border: 1px solid rgb(26, 23, 23);
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}    

.red {
    background-color: red;
}    

.yellow {
    background-color: yellow;
}

#pixel-board {
    width: 400px;
    height: 402px;
    border: 0.2px solid black;
    margin: 15px auto;
}

.pixel {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 0.2px solid black;
}

.linhas {
    display: flex;
    justify-content: center;
}
