*{
    margin: 0px;
}

body {
    background-color: azure;
}

#title {
    margin-top: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: green;
    text-align: center;
}

#color-palette {
    width: 50%;
    margin: auto;
}

.color {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 25px 5px;
    border-radius: 100%;
    border: 1px solid rgb(26, 23, 23);
}

.selected {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 25px 5px;
    border-radius: 100%;
    border: 3px solid green;
}

.black {
    background-color: black;
}

.second {
    background-color: blue;
}    

.third {
    background-color: red;
}    

.fourth {
    background-color: yellow;
}

#pixel-board {
    width: 189px;
    height: 188px;
    border: 1px solid black;
    margin: 10px auto;
    padding: 3px 0px 0px 3px;
    
}

.pixel {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    margin: -4px;
}

.linhas {
    display: inline-block;
    margin: 0px;
}
